<div class="container">
  <h1 class="text-center m-4">Witaj {{user.firstName}} {{user.lastName}}!</h1>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" [ngSwitch]="userType">
      <a routerLink="/callendar" class="btn btn-primary btn-lg btn-block" *ngSwitchCase="0">Kalendarz </a>
      <a routerLink="/callendarDoc" class="btn btn-primary btn-lg btn-block" *ngSwitchCase="1">Kalendarz </a>
      <a routerLink="/docList" class="btn btn-primary btn-lg btn-block" >Lista lekarzy</a>
      <a routerLink="/treatList" class="btn btn-primary btn-lg btn-block" >Lista zabiegów</a>
      <a routerLink="/editProfile" class="btn btn-primary btn-lg btn-block">Edytuj profil</a>
      <a routerLink="/login" class="btn btn-primary btn-lg btn-block">Wyloguj</a>
    </div>
    <div class="col-md-2"></div>
  </div>

</div>