<div class="row text-center m-3">
  <div class="col-md-4">
    <div class="btn btn-secondary back" routerLink="/home">
      Powrót do ekranu głównego
    </div>
  </div>
  <div class="col-md-4">
    <h1>Kalendarz</h1>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Poprzedni
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Dziś
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Następny
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'pl' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = 'month'"
        [class.active]="view === 'month'">
        Miesiąc
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'day'"
        [class.active]="view === 'day'">
        Dzień
      </div>
    </div>
  </div>
</div>
<br>
<div class="row text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h5>Wybierz Zabieg i lekrza</h5>
    <div class="btn-group m-1">
      <select class="btn btn-primary m-1" id="TreatName" name="TreatName" #TreatNameRef="ngModel" [(ngModel)]="choosenTreat" (change)="onTreatChange()">
        <option [value]="" selected>Wybierz Zabieg</option>
        <option [value]="treat.name" *ngFor="let treat of treatments ">
          {{treat.name}}
        </option>
      </select>
      <select class="btn btn-primary m-1" id="Doctor" name="Doctor" #DoctorRef="ngModel" [(ngModel)]="choosenDoctor" (change)="onDoctorChange()">
        <option [value]="" selected>Wybierz Lekarza</option>
        <option [value]="doctor.email" *ngFor="let doctor of doctors ">
          {{doctor.firstname}} {{doctor.surname}}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events$"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays"
    [refresh]="refresh"
    [locale]="locale"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events$"
    [refresh]="refresh"
    [locale]="locale"
    (hourSegmentClicked)="timeClicked($event.date)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>